#carousel-outer {
  height: 404px;
  width: 601px;
  background: url('/images/macbook.png');
  padding-top: 23px;
  @media (max-width: 630px) {
    padding-top: 23px;
    width: 100%;
    height: 330px;
    background-size: 100% 100%;

  }
  #carousel {
    position: relative;
    width: 541px;
    height: 338px;
    @media (max-width: 630px) {
      width: 90%;
      height: 280px;

    }
    .carousel-indicators li {
      border-color: lighten($header-bg-color, 30%);
      &.active {
        background-color: lighten($header-bg-color, 30%);
//        background-color: $darklogo-back-color;
      }
    }
    .item {
      text-align: center;
      font-size: 20px;
      padding-top: 150px;
      @media (max-width: 630px) {
        padding-top: 115px;
      }
      p {
        &.first {
          color: $darklogo-back-color;
          font-weight: bold;
        }
        &.second {
          color: lighten($header-bg-color, 75%);
          .darken {
            color: lighten($header-bg-color, 50%);
          }
        }
      }
    }
  }
}

.site-header {
  height: 64px;
  background-color: $header-bg-color;
  background-image: linear-gradient(to bottom, darken($header-bg-color, 10%) 0,lighten($header-bg-color, 12%) 90%);
  .container {
    background-color: inherit;
    background-image: inherit;
  }

  a.navbar-brand {
    padding: 20 0;
    img {
      width: 155px;
      height: 36px;
    }
  }
  .slogan {
    color: lighten($header-bg-color, 60%);
    font-size: 15px;
    margin-top: 24px;
    margin-left: 15px;
  }
  li a {
//    color: $darklogo-front-color;
    color: lighten($header-bg-color, 75%);
    font-size: $base-font-size;
    padding: 24px 15px 20px 15px;
    text-shadow: none;
  }
  li.active a, li a:hover {
    color: $darklogo-back-color;
    background-color: lighten($header-bg-color, 12%) !important;
  }
  .navbar-toggle {
    background-color: lighten($header-bg-color, 15%);
    margin-top: 17px;

    .icon-bar {
      background-color: lighten($header-bg-color, 60%);
    }
  }
}
#home{
  padding-top: 70px;
}
h2 {
  color: $logo-back-color;
  text-align: center;
  padding: 70px 0 35px 0;
}

.footer {
  font-size: 12px;
  margin: 40px 0 0 0;
}

img.devices {
  margin-top: 70px;
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
