body {
  font-family: 'Open sans',sans-serif;
  padding-top: 80px;
}

.navbar {
  margin-bottom: 0px;
  padding: 5px 5px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ccc;
}

.navbar img {
  width: 15%;
  height: 15%;
}

#main_img {
  width: 100%;
}

h2, footer {
  background-color: #333;
  color: #ddd;
  padding: 20px;
  text-align: center;
}

header ul {
  display: inline;
}
